@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
}

#outer-graphiql-container {
    height: calc(100% - 3em) !important;
}

/* disables line number in graphiql that overlaps code after adding the explorer widget */
.CodeMirror-linenumber {
    display: none !important;
}


.landing-gradient {
    background: linear-gradient(90deg, #336cd5 0%, #51a3da 100%);
}

.landing-body {
    font-family: 'Source Sans Pro', sans-serif;
}